html,
body {
	height: 100%;
	width: 100%;
}

* {
	padding: 0;
	margin: 0;
}

/*****/

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/**************************/
/*         HEADER         */
/**************************/

header {
	padding: 1rem 2vw;
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid var(--green-dark);
}

nav ul {
	display: flex;
	flex-direction: row;
}


nav a {
	padding: 1em 1vw;
}

nav a:hover {
	padding: 1rem 1vw;
	text-decoration-line: underline;
}

.menu-dropdown {
	padding: 0 0 1em 0;
	background-color: var(--green-light-deep);
	position: absolute;
	z-index: 100;
	right: 0;
	flex-direction: column;
	display: flex;
}
.menu-dropdown a {
	color: var(--green-dark);
	text-align: right;
	display: block;
}
.menu {
	position: relative;
}
.menu:not(:hover)>.menu-dropdown {
	padding: 4px 0;
	z-index: 99;
	display: none;
}

.menu-dropdown>* {
	overflow: hidden;
	height: 30px;
	padding: 5px 10px;
	white-space: nowrap;
}


.menu:not(:hover)>.menu-dropdown>* {
	visibility: hidden;
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}

/**************************/
/*       QUI-EST-CE       */
/**************************/

#qui-est-ce {
	margin: 10px 20vw 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#qui-est-ce div {
	width: 40%;
}

#qui-est-ce img {
	height: 300px;
	width: auto;
	object-fit: cover;
}

@media screen and (max-width: 1004px) {
	#qui-est-ce {
		margin: 0;
		flex-direction: column-reverse;
	}

	#qui-est-ce div {
		margin-top: 30px;
		width: 80%;
	}

	#qui-est-ce h2{
		margin-bottom: 10px;
	}
}

/**************************/
/*        PRODUITS        */
/**************************/

#produits {
	margin: 5em 10vw 5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

#produits h3 {
	margin: 10px 0;
}

#produits article {
	align-items: center;
	text-align: center;
}

#produits img {
	width: 100px;
	height: auto;
	border-radius: 50%;
	object-fit: cover;
}

@media screen and (max-width: 768px) {
	#produits {
		margin: 0 calc(100vw/2 - 40px) 0;
		flex-direction: column;
	}
}

/**************************/
/*         FOOTER         */
/**************************/

footer {
	background-color: var(--green-light);
	display: flex;
	flex-direction: row;
	align-items: center;
}
footer ul {
	display: flex;
	gap: 2em;
}
footer li:not(:first-child) {
	list-style: "|   ";
}

footer h1 {
	margin: 50px 20vw;
}


footer a {
	color: var(--black);
	text-decoration: underline;
}

footer p {
	text-align: center;
}
footer section {
	height: fit-content;
}

@media screen and (max-width: 1438px) {
	footer {
		flex-direction: column;
	}
}
@media screen and (max-width: 720px) {
	footer ul {
		display: flex;
		gap: 0;
		flex-direction: column;
	}
	footer li:not(:first-child) {
		list-style: none;
	}
	footer {
		padding-bottom: 2em;
	}
}


/***************************/
/*         PRODUIT         */
/***************************/

#image_bg {
	width: 100%;
	height: 50vh;
	margin-bottom: 50px;
}

#le_produit {
	margin: 50px 30vw 50px;
	display: flex;
}

#le_produit img {
	height: 250px;
	width: 200px;
	object-fit: cover;
}

#infos_produit {

	align-items: center;
	padding-left: 5em;
}

#infos_produit h2,
#infos_produit h3,
#infos_produit p,
#infos_produit button {
	margin: 10px;
}

@media screen and (max-width: 1000px) {
	#le_produit {
		margin: 0;
		flex-direction: column;
	}

	#le_produit img {
		order: 1;
		margin: 0 calc(100vw/2 - 200px) 0;
		padding-left: 100px;
	}

	#infos_produit {
		order: 2;
		padding-left: 0;
		margin: auto;
	}
}

/***************************/
/*        CAROUSSEL        */
/***************************/

#galerie {
	background-color: var(--green-light);
	padding: 1.5em 0;
	display: block;
	margin: 4em 0;
}
#galerie h2 {
	color: black;
	text-align: center;
}
#galerie .carousel {
	margin-top: 1.5em;
	display: flex;
	overflow: hidden;
}
#galerie .carousel img {
	width: 24em;
	height: 24em;
	object-fit: cover;
	margin-right: 3em;
}
#galerie .carousel div {
	display: flex;
	animation: marqueeAnimation 79s linear infinite;
}

/* Animation pour le marquee */
@keyframes marqueeAnimation {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

/***************************/
/*       PAGE SIMPLE       */
/***************************/

.page-simple {
	margin: 5em;
	text-align: center;
}

.page-simple p {
	margin: 1em;
	text-align: center;
}